
#about {
    .wrapper-about {
        width: 85%;
        max-width: 1000px;
        margin: 0 auto;
    }


     #about-img {   
     	width: 100%;
        vertical-align: top;
     	display: block;
        margin: auto;
        list-style: none;
        border: 1px solid #e3e1e0;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        padding: 14px;
        background: #f0eeed;
        @media (max-width: 991px) {
            margin-top: 2em;
        }

    }

    #about-text {
    //	margin: 2em 0 7em 0; 
    	line-height: 1.4em;
        white-space: pre-wrap;
        font-size: 1em;
        vertical-align: top;
    	display: inline-block;
        @media (max-width:815px) {
            width: 100%;
            font-size: .9em;

        }
    }
}