#technology {
	.ip-title {
    display: block;
    line-height: 1.2em;
    margin-bottom: 0em;
	}
	.ip-title ~ span {
	    margin-left: .5em;
	    word-break: keep-all; 
	    wrap: nowrap; 
	   
	}

	.ip-description {
	    margin-left: .5em;
	    line-height: 1.2em;
	}

	.ip-id {
	    wrap: nowrap; 
	}

	.ip-link {
	    display: block;
	}


	.ip-contact {
	    width: 100%;
	    margin-top: 2em;
	    text-align: center;
	    border: 1px solid #eee;
	    background: #555;
	    color: #FFF;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;    
	    text-transform: uppercase;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;    
	    font-size: 14px;
	    padding: 14px;
	    a {
	        text-decoration: none;
	    }
	}
}