<div id="about" class="section page">
	<div class="wrapper">
		<div class="row">
			<h1>About Us</h1>
			<div class="col-md-8">
<p id="about-text">The BYU Technology Transfer Office has been established to help faculty and staff protect and commercialize technologies invented at Brigham Young University. The office provides expertise in business relationships, negotiations, protection of intellectual property, marketing, license agreements, contracts, and entrepreneurship.

The primary purpose of the Technology Transfer Office is to facilitate the transfer of university-developed technologies to the marketplace by protecting the intellectual property through patents and copyrights and subsequently licensing the protected intellectual properties to companies outside the university. Patents and copyrights are required because most of the technologies developed at a university require substantial investment by the company for final product and/or market development before they can be sold to the public. Unless companies have the protection of exclusive rights to the technology (e.g., a patent) they will not make the investment necessary to bring a technology to the marketplace.

The Technology Transfer Office will evaluate the technology, secure intellectual property protection, find a company to develop and sell the product, and negotiate the license agreement. The revenues received from the license are shared between the inventor(s) as personal income (45%) and the university as research support (55%). Alternately, faculty inventors can direct up to 90% to their research.</p>
				<p><b>Licensing Specialists:</b></p>
				<ul>
					<li><a href="mailto:mike_alder@byu.edu?Subject=From Website" target="_top">Mike Alder</a>, Life Sciences (801-422-3049)</li>
					<li><a href="mailto:dave_brown@byu.edu?Subject=From Website" target="_top">Dave Brown</a>, Software (801-422-4866)</li>
					<li><a href="mailto:srogers@byu.edu?Subject=From Website" target="_top">Spencer Rogers</a>, Engineering (801-422-3676)</li>
				</ul>

				<p><b>Administrative Staff:</b></p>
				<ul>
					<li><a href="mailto:colleen_kohler@byu.edu?Subject=From Website" target="_top">Colleen Kohler</a>, Admin (801-422-6266)</li>
					<li><a href="mailto:thaylene_rogers@byu.edu?Subject=From Website" target="_top">Thaylene Rogers</a>, Controller (801-422-9240)</li>
				</ul>
			</div>

			<div class="col-md-4">
				<img id="about-img" src="img/about.jpg">
			</div>
		</div>
	</div>
</div>




