<div class="header" ng-controller="HeaderController as hc">
	<a href="" ng-click="hc.goTo('home')"><h1 class="branding-title"></h1></a>
	<ul class="nav">
		<li><a href="" ng-click="hc.goTo('technologies')">Technologies</a></li>
		<li><a href="" ng-click="hc.goTo('resources')">Resources</a></li>
		<li><a href="" ng-click="hc.goTo('contact')">Contact</a></li>
		<li><a href="" ng-click="hc.goTo('about')">About</a></li>
	</ul>
	<ul class="nav-mobile">
		<li><a href="" ng-click="hc.goTo('technologies')">Technologies</a></li>
		<li><a href="" ng-click="hc.goTo('resources')">Resources</a></li>
		<li><a href="" ng-click="hc.goTo('contact')">Contact</a></li>
		<li><a href="" ng-click="hc.goTo('about')">About</a></li>
	</ul>	
</div>