<div class="header" ng-controller="HeaderController as hc">
	<a href="" ng-click="hc.goTo('home')"><h1 class="branding-title"></h1></a>

	<ul class="nav">
		<li class="nav-item patents on"><a href="" ng-click="hc.goTo('technologies')">Technologies</a></li>
		<li class="nav-item resources on"><a href="" ng-click="hc.goTo('resources')">Resources</a></li>
		<li class="nav-item contact on"><a href="" ng-click="hc.goTo('contact')">Contact</a></li>
		<li class="nav-item about on"><a href="" ng-click="hc.goTo('about')">About</a></li>
	</ul>
</div>