<div id="home">
	<div ng-app="videotext" ng-controller="HomeController">
		<video width="100%" autoplay loop  bind-video-size>
		  <source src="patentvideo.mp4" type="video/mp4">
		  <source src="patentvideo.ogg" type="video/ogg">
		  <source src="patentvideo.webm" type="video/webm">
		</video>
		<div class="jumbotron" ng-style="{'height':hmc.dimensions.height}">
		  <h1>BYU Technology Transfer</h1>
		  <h2><i>We create and license game changing technologies with hopes of bettering mankind.</i></h2>
		  <button ng-click="hmc.goTo('technologies')" type="button" class="btn btn-main btn-lg"> EXPLORE ALL TECHNOLOGIES</button>
		</div>
		<div class="jumbotron-sm">
		  <h1>BYU</h1>
		  <h2>Technology Transfer</h2>
		  <button ng-click="hmc.goTo('technologies')" type="button" class="btn btn-main btn-lg"> EXPLORE ALL TECHNOLOGIES</button>
		</div>
	</div>
</div>