<div id="new-technology" class="section page">
	<div class="wrapper">
		<div class="breadcrumb"><a href="" ng-click="etc.goTo('home')">Home</a> &gt; <a href="" ng-click="etc.goTo('technologies')">Technologies</a> &gt; {{::etc.technology.ID || 'New Technology'}}</div>
			<div class="row">		

				<div class="col-xs-12">
					<h1 class="ip-title">{{etc.new ? 'Add New' : 'Edit'}} Technology</h1>
				</div>


				<div class="col-sm-12">


					<div class="form-container">
						<form class="form-horizontal">

						  <div class="form-group">
						    <label for="inputID" class="col-sm-2 control-label">ID</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputID" placeholder="ID" ng-model="etc.technology.ID">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="inputName" class="col-sm-2 control-label">Name</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="etc.technology.Name">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="inputPI" class="col-sm-2 control-label">PI</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputPI" placeholder="PI" ng-model="etc.technology.PI">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="inputContactName" class="col-sm-2 control-label">Contact Name</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputContactName" placeholder="Contact Name" ng-model="etc.technology['Contact Name']">
						    </div>
						  </div>

<!-- 						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Contact Name</label>
						    <div class="col-sm-9">
	    					  <select class="form-control">
	    					  	<option>Contact Name</option>
									  <option>Spencer Rogers</option>
									  <option>Mike Alder</option>
									  <option>Dave Brown</option>
									</select>
						    </div>
						  </div>	 -->					

						  <div class="form-group">
						    <label for="inputEmail" class="col-sm-2 control-label">Contact Email</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputEmail" placeholder="Contact Email" ng-model="etc.technology['Contact Email']">
						    </div>
						  </div>		

						  <div class="form-group">
						    <label for="inputPhone" class="col-sm-2 control-label">Contact Phone</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputPhone" placeholder="Contact Phone" ng-model="etc.technology['Contact Phone']">
						    </div>
						  </div>	

					    <div class="form-group">
						    <label for="inputPhoto" class="col-sm-2 control-label">Upload Photos</label>
						    <div class="col-sm-7">
						    	<div class="file-upload">
								    <input type="file" id="inputPhoto">
								  </div>
								  <span class="add">Add Another Photo</span>
							  </div>

							  <div>
						    	<span class="delete">Delete Photo</span>
						    </div>
						  </div>	


						  <div class="form-group">
						    <label for="inputVideo" class="col-sm-2 control-label">Upload Videos</label>

						    <div class="col-sm-7">
						      <input type="text" class="form-control" id="inputVideo" placeholder="Paste Youtube Video URL here" ng-model="etc.technology.Video">
						      <span class="add">Add Another Video</span>
						    </div>

						    <div>
						    	<span class="delete">Delete Video</span>
						    </div>
						  </div>	

						  <div class="form-group">
						    <label for="inputTag" class="col-sm-2 control-label">Tags</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" rows="2" ng-model="etc.technology.Tags"></textarea>
						      <p class="help-block">Please separate each tag with a comma</p>
						    </div>
						  </div>				

						  <div class="form-group">
						    <label for="inputCategories" class="col-sm-2 control-label">Categories</label>
						    <div class="col-sm-9">
						      <label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox1" value="engineering" ng-model="etc.technology.selectedCategories['engineering']"> engineering
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox2" value="mechanical devices & processes" ng-model="etc.technology.selectedCategories['mechanical devices & processes']"> mechanical devices & processes
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="software" ng-model="etc.technology.selectedCategories['software']"> software
									</label>
						      <label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox1" value="chemistry" ng-model="etc.technology.selectedCategories['chemistry']"> chemistry
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox2" value="diagnostics & drug delivery" ng-model="etc.technology.selectedCategories['diagnostics & drug delivery']"> diagnostics & drug delivery
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="electronics & instrumentation" ng-model="etc.technology.selectedCategories['electronics & instrumentation']"> electronics & instrumentation
									</label>	
						      <label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox1" value="energy/environment/resources" ng-model="etc.technology.selectedCategories['energy/environment/resources']"> energy/environment/resources
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox2" value="engineered structures & materials" ng-model="etc.technology.selectedCategories['engineered structures & materials']"> engineered structures & materials
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="life sciences" ng-model="etc.technology.selectedCategories['life sciences']"> life sciences
									</label>
						      <label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox1" value="microfluidics" ng-model="etc.technology.selectedCategories['microfluidics']"> microfluidics
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox2" value="pharmaceuticals/nutraceuticals" ng-model="etc.technology.selectedCategories['pharmaceuticals/nutraceuticals']"> pharmaceuticals/nutraceuticals
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="physics" ng-model="etc.technology.selectedCategories['physics']"> physics
									</label>																
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="biotech/medical" ng-model="etc.technology.selectedCategories['biotech/medical']"> biotech/medical
									</label>
						      <label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox1" value="data storage" ng-model="etc.technology.selectedCategories['data storage']"> data storage
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox2" value="education" ng-model="etc.technology.selectedCategories['education']"> education
									</label>
									<label class="checkbox-inline">
									  <input type="checkbox" id="inlineCheckbox3" value="food/agriculture" ng-model="etc.technology.selectedCategories['food/agriculture']"> food/agriculture
									</label>										
						    </div>
						  </div>			

						  <div class="form-group">
						    <label for="inputLink" class="col-sm-2 control-label">Add Links</label>
						    <div class="col-sm-7">
						      <input type="text" class="form-control" id="inputPassword3" placeholder="Paste link URL here" ng-model="etc.technology.Link">
						      <span class="add">Add Another Link</span>
						    </div>
						    <div>
						    	<span class="delete">Delete Link</span>
						    </div>
						  </div>					

						  <div class="form-group">
						    <label for="inputDescription" class="col-sm-2 control-label">Short Description</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" rows="2" ng-model="etc.technology['Short Description']"></textarea>
						    </div>
						  </div>			

						  <div class="form-group">
						    <label for="inputLongDescription" class="col-sm-2 control-label">Long Description</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" rows="5" ng-model="etc.technology['Long Description']"></textarea>
						    </div>
						  </div>								  					  	  				  		  


						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-danger">Delete</button>
						      <button type="submit" class="btn btn-default">Cancel</button>
						      <button type="submit" class="btn btn-success">Save</button>

						    </div>
						  </div>

						</form>
					</div>

					
				</div>


			</div>



			<span class="note-designer"></span>

		</div>
	</div>
</div>


<!-- 
        <div class="modal-body">
        	<img ng-click="open()" class="img" ng-src="{{media.link}}">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>


        <div class="modal-body">
        	<iframe class="vid" ng-src="{{media.link}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div> -->