<div id="new-technology" class="section page">
	<div class="wrapper">
		<div class="breadcrumb"><a href="" ng-click="etc.goTo('home')">Home</a> &gt; <a href="" ng-click="etc.goTo('technologies')">Technologies</a> &gt; {{::etc.technology.ID || 'New Technology'}}</div>
			<div class="row">

				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Technology Saved.</strong> <span>Make edits or <u ng-click="tc.newTechnology($event)">add another.</u></span>
				</div>

				<div class="col-xs-12">
					<h1 class="ip-title">{{etc.new ? 'Add New' : 'Edit'}} Technology</h1>
				</div>


				<div class="col-sm-12">

					<div class="form-container">
						<form class="form-horizontal">

						  <div class="form-group">
						    <label for="inputID" class="col-sm-2 control-label">ID</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputID" placeholder="ID" ng-model="etc.technology.ID">
						    </div>
						  </div>

							<div class="form-group">
						    <label for="inputPI" class="col-sm-2 control-label">PI</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputPI" placeholder="PI" ng-model="etc.technology.PI">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="inputName" class="col-sm-2 control-label">Title</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="etc.technology.Name">
						    </div>
						  </div>

							<div class="form-group">
						    <label for="inputTag" class="col-sm-2 control-label">Tags</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" rows="2" ng-model="etc.technology.Tags"></textarea>
						      <p class="help-block">Do not separate tags with a comma</p>
						    </div>
						  </div>

							<div class="form-group">
								<label for="inputCategories" class="col-sm-2 control-label">Categories</label>
								<div class="col-sm-9">
									<label id="categories-checkbox" class="checkbox-inline" ng-repeat="category in etc.categories | orderBy:'' track by $index">
										<input type="checkbox" id="{{'inlineCheckbox' + ($index+1)}}" value="engineering" ng-model="etc.technology.selectedCategories[category]"> {{category}}
									</label>
									<span class="edit" ng-click="etc.openEditCategoriesModal()">Edit Categories</span>
								</div>
							</div>

							<div class="form-group">
						    <label for="inputDescription" class="col-sm-2 control-label">Short Description</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" rows="2" ng-model="etc.technology['Short Description']"></textarea>
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="inputLongDescription" class="col-sm-2 control-label">Long Description</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" rows="5" ng-model="etc.technology['Long Description']"></textarea>
						    </div>
						  </div>

							<div class="form-group">
						    <label for="inputAboutMarket" class="col-sm-2 control-label">About Market</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" rows="2" ng-model="etc.technology['About the Market']"></textarea>
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Contact</label>
						    <div class="col-sm-7">
	    					  <select class="form-control" ng-model="etc.technology.contact" ng-options="contact as contact.name for contact in etc.contacts">
									</select>
						    </div>
								<div>
									<span class="edit" ng-click="etc.openEditContactsModal()">Edit Contacts</span>
								</div>
						  </div>

							<!-- <div class="form-group">
						    <label for="inputVideo" class="col-sm-2 control-label">Upload Videos</label>

						    <div class="col-sm-7">
						      <input type="text" class="form-control" id="inputVideo" placeholder="Paste Youtube Video URL here" ng-model="etc.technology.Video">
						      <span class="add">Add Another Video</span>
						    </div>
						    <div>
						    	<span class="delete">Delete Video</span>
						    </div>
						  </div> -->

							<div class="form-group">
								<label for="inputLink" class="col-sm-2 control-label">Upload Videos</label>
								<div class="col-sm-9">
									<textarea rows="2" type="text" class="form-control" id="inputPassword3" placeholder="Paste Youtube Video URL here" ng-model="etc.technology.Video"></textarea>
									<p class="help-block">Separate each link with a comma</p>
								</div>
							</div>

					    <div class="form-group">
						    <label for="inputPhoto" class="col-sm-2 control-label">Upload Photos</label>
						    <div class="col-sm-7">
						    	<div class="file-upload">
								    <input type="file" id="inputPhoto">
								  </div>
								  <span class="add">Add Another Photo</span>
							  </div>
							  <div>
						    	<span class="delete">Delete Photo</span>
						    </div>
						  </div>


						  <div class="form-group">
						    <label for="inputLink" class="col-sm-2 control-label">Links & Resources</label>
						    <div class="col-sm-9">
						      <textarea rows="2" type="text" class="form-control" id="inputPassword3" placeholder="Links and resources" ng-model="etc.technology.Links"></textarea>
						      <p class="help-block">Separate each link with a comma</p>
						    </div>
						  </div>


						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button ng-click="etc.openConfirmDeleteModal()" type="submit" class="btn btn-danger">Delete</button>
						      <button type="submit" class="btn btn-default">Cancel</button>
						      <button type="submit" class="btn btn-success" ng-click="etc.saveTechnology()">Save</button>

						    </div>
						  </div>


						</form>


				</div>

				<div class="alert alert-danger" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Warning!</strong> Technology Did Not Save. Try Again.
				</div>


			</div>


			</div>

			<span class="note-designer"></span>

		</div>
	</div>
</div>


<!--
        <div class="modal-body">
        	<img ng-click="open()" class="img" ng-src="{{media.link}}">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>


        <div class="modal-body">
        	<iframe class="vid" ng-src="{{media.link}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div> -->
