<div id="new-technology" class="section page">
	<div class="wrapper">
		<div class="breadcrumb"><a href="" ng-click="stc.goTo('home')">Home</a> &gt; <a href="" ng-click="stc.goTo('technologies')">Technologies</a> &gt; {{::stc.selectedTech.ID}}</div>
			<div class="row">

			<div class="pagination">

				<div class="col-xs-12">
					<h1 class="ip-title">Add New Technology</h1>
				</div>

			</div>	

<!-- 				<div class="col-sm-12">

						<h1 class="ip-title">{{::stc.selectedTech.Name}}</h1>
				</div> -->

				<div class="col-sm-12">


					<form class="form-horizontal">

					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">ID</label>
					    <div class="col-sm-9">
					      <input type="email" class="form-control" id="inputEmail3" placeholder="ID">
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
					    <div class="col-sm-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Name">
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">PI</label>
					    <div class="col-sm-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="PI">
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Contact Name</label>
					    <div class="col-sm-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Contact Name ">
					    </div>
					  </div>



<!-- 					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Contact Name</label>
					    <div class="col-sm-9">
    					  <select class="form-control">
    					  	<option>Contact Name</option>
								  <option>Spencer Rogers</option>
								  <option>Mike Alder</option>
								  <option>Dave Brown</option>
								</select>
					    </div>
					  </div>		 -->				

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Contact Email</label>
					    <div class="col-sm-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Contact Email">
					    </div>
					  </div>		

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Contact Phone</label>
					    <div class="col-sm-9">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Contact Phone">
					    </div>
					  </div>	

				    <div class="form-group">
					    <label for="exampleInputFile" class="col-sm-2 control-label">Upload Photos</label>
					    <div class="col-sm-9">
						    <input type="file" id="exampleInputFile">
						    <p class="help-block">Please add .jpg photos only</p>
						  </div>
					  </div>	

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Upload Videos</label>
					    <div class="col-sm-8">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Paste Youtube Video URL here">
					    </div>
					    <div>
					    	<a href="#" ng-click=""><i class="fa fa-plus add" aria-hidden="true"></i></a>
					    </div>
					  </div>	

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Tags</label>
					    <div class="col-sm-9">
					      <textarea class="form-control" rows="2"></textarea>
					      <p class="help-block">Please seperate each tag with a comma</p>
					    </div>
					  </div>				

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Categories</label>
					    <div class="col-sm-9">
					      <label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox1" value="engineering"> engineering
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox2" value="option2"> mechanical devices & processes
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox3" value="option3"> software
								</label>
					      <label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox1" value="option1"> chemistry
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox2" value="option2"> diagnostics & drug delivery
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox3" value="option3"> electronics & instrumentation
								</label>	
					      <label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox1" value="option1"> energy/environment/resources
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox2" value="option2"> engineered structures & materials
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox3" value="option3"> life sciences
								</label>
					      <label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox1" value="option1"> microfluidics
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox2" value="option2"> pharmaceuticals/nutraceuticals
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox3" value="option3"> physics
								</label>																
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox3" value="option3"> biotech/medical
								</label>
					      <label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox1" value="option1"> data storage
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox2" value="option2"> education
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="inlineCheckbox3" value="option3"> food/agriculture
								</label>										
					    </div>
					  </div>			

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Add Links</label>
					    <div class="col-sm-8">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Paste link URL here">
					    </div>
					    <div>
					    	<i class="fa fa-plus add" aria-hidden="true"></i>
					    </div>
					  </div>					

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Short Description</label>
					    <div class="col-sm-9">
					      <textarea class="form-control" rows="2"></textarea>
					    </div>
					  </div>			

					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">Long Description</label>
					    <div class="col-sm-9">
					      <textarea class="form-control" rows="5"></textarea>
					    </div>
					  </div>								  					  	  				  		  


					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" class="btn btn-danger">Delete</button>
					      <button type="submit" class="btn btn-default">Cancel</button>
					      <button type="submit" class="btn btn-success">Save</button>

					    </div>
					  </div>

					</form>



 
					
				</div>


			</div>



			<span class="note-designer"></span>

		</div>
	</div>
</div>


<!-- 
        <div class="modal-body">
        	<img ng-click="open()" class="img" ng-src="{{media.link}}">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>


        <div class="modal-body">
        	<iframe class="vid" ng-src="{{media.link}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div> -->