<div id="technology" class="section page">
	<div class="wrapper">
		<div class="breadcrumb"><a href="" ng-click="stc.goTo('home')">Home</a> &gt; <a href="" ng-click="stc.goTo('technologies')">Technologies</a> &gt; {{stc.the_tech.ID}}</div>
		<div class="shirt-details">
			<div class="group">
				<h1 class="ip-title">{{stc.the_tech.Name}}</h1>
				<span class="ip-id">ID: {{stc.the_tech.ID}}</span>
				
			</div>
			<p class="ip-description">Principal Investigator: {{stc.the_tech["PI"]}}</p>
			<p class="ip-description">{{stc.the_tech["Short Description"]}}</p>
			<p class="ip-description">{{stc.the_tech["Long Description"]}}</p>
			<p class="ip-description">For more information, contact <a href='mailto:{{stc.the_tech["Contact Email"]}}?Subject=BYU Disclosure #{{stc.the_tech.ID}}' target='_top'>{{stc.the_tech["Contact Name"]}}</a> {{stc.the_tech["Contact Phone"] ? '('+stc.the_tech["Contact Phone"]+')' : ''}}</p>
			<div class="links-container" ng-if="stc.the_tech.links">
				<p class="links-txt">Links and Resources</p>
				<li ng-repeat="link in stc.the_tech.Links">
					<a class="ip-link" href="{{link}}">{{link}}</a>
				</li>
			</div>
			<a href="" ng-click="stc.contactAboutTech(stc.the_tech['id#'])"><center><button class="ip-contact">Inquire about this technology</button></center></a>
			<p class="note-designer"></p>
		</div>
	</div>
</div>