<div id="technology" class="section page">
	<div class="wrapper">
		<div class="breadcrumb"><a href="" ng-click="stc.goTo('home')">Home</a> &gt; <a href="" ng-click="stc.goTo('technologies')">Technologies</a> &gt; {{stc.selectedTech.ID}}</div>
		<div class="shirt-details">
			<div class="group">
				<h1 class="ip-title">{{stc.selectedTech.Name}}</h1>
				<span class="ip-id">ID: {{stc.selectedTech.ID}}</span>
				<p class="ip-description">Principal Investigator: {{stc.selectedTech["PI"]}}</p>
			</div>
			<div class="row media">
				<div class="col-sm-6">
					<figure>
					<iframe class="vid" width="100%" height="235px" src="https://www.youtube.com/embed/PFJE90SISPw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen controls></iframe>
					</figure>
				</div>
				<div class="col-sm-6">
					<img class="img" ng-src="{{stc.selectedTech.Image}}">
				</div>
			</div>

			
			<p class="ip-description">{{stc.selectedTech["Short Description"]}}</p>
			<p class="ip-description">{{stc.selectedTech["Long Description"]}}</p>
			<p class="ip-description">For more information, contact <a href='mailto:{{stc.selectedTech["Contact Email"]}}?Subject=BYU Disclosure #{{stc.selectedTech.ID}}' target='_top'>{{stc.selectedTech["Contact Name"]}}</a> {{stc.selectedTech["Contact Phone"] ? '('+stc.selectedTech["Contact Phone"]+')' : ''}}</p>
			<div class="links-container" ng-if="stc.selectedTech.links">
				<p class="links-txt">Links and Resources</p>
				<li ng-repeat="link in stc.selectedTech.Links">
					<a class="ip-link" href="{{link}}">{{link}}</a>
				</li>
			</div>
			<a href="" ng-click="stc.contactAboutTech(stc.selectedTech.ID)"><center><button class="ip-contact">Inquire about this technology</button></center></a>
			<p class="note-designer"></p>
		</div>
	</div>
</div>

